.About-box {
  padding: 25px 100px;
  max-width: 800px;
  text-align: left;
  /* min-height: 70vh; */
}

.About-text {
  font-size: 120%;
  line-height: 150%;
  font-family: "zenon", serif;
}

.Email-link {
  font-weight: 600;
}

h2 {
  font-family: "worker", sans-serif;
  font-weight: 800;
  font-size: 200%;
  color: #543c52;
}

.Cheers {
  font-family: "zenon", serif;
  font-size: 180%;
  font-style: italic;
}
